@import "tailwindcss";

body {
    margin: 0;
    font-family: system-ui, -apple-system, Arial, sans-serif;
}

header {
    background: #c8102e;
    color: white;
    padding: 1rem;
}

nav a {
    color: white;
    text-decoration: none;
}

main {
    padding: 1rem;
}

#buildingList {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 1rem;
    max-width: 1200px;
    margin: 0 auto;
}

.buildingCard {
    border: 1px solid #ddd;
    padding: 1rem;
    border-radius: 8px;
    transition: transform 0.1s ease-in-out;
}

@media (hover: hover) {
    .buildingCard:hover {
        transform: scale(1.02);
    }
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #c8102e;
    color: white;
    padding: 1rem;
}

.navRight a {
    color: white;
    margin-left: 1rem;
    text-decoration: none;
}

#homeLink {
    cursor: pointer;
}

.view {
    padding: 1rem;
}

.hidden {
    display: none;
}

/*Mobile*/
@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .navRight {
        margin-top: 0.5rem;
        display: flex;
        gap: 0.75rem;
        flex-wrap: wrap;
    }

    #buildingList {
        grid-template-columns: 1fr;
    }
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdownButton {
  background: none;
  border: none;
  font-size: 16px;
  cursor: pointer;
}

.dropdownMenu {
  position: absolute;
  background: #c8102e;
  border: 1px solid #ccc;
  margin-top: 5px;
  padding: 0;
  list-style: none;
  width: 200px;
}

.dropdownItem {
  padding: 10px;
  cursor: pointer;
}

.dropdownItem:hover {
  background: #c8102e;
}